.delete-btn {
  cursor: pointer;
}

.card img {
  width: 100px;
  margin: 12px auto 6px auto;
}
.card {
  margin-bottom: 12px;
}
.card-controls {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.book-title a:hover {
  cursor: pointer;
  color: light-blue;
}

.btn-add {
  z-index: 20;
  height: 80px;
  width: 80px;
  border-radius: 100px;
  bottom:80px;
  right:80px
}
