body{
  height: 100vh;
}

.delete-btn {
  cursor: pointer;
}

.card img {
  width: 100px;
  margin: 12px auto 6px auto;
}
.card {
  margin-bottom: 12px;
}
.card-controls {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.book-title{
  height: 2em;
}

.book-title a:hover {
  cursor: pointer;
  color: light-blue;
}

.btn-add {
  z-index: 20;
  height: 80px;
  width: 80px;
  border-radius: 100px;
  bottom:80px;
  right:80px
}



.dropdown-menu{
  /* right: 0; */
  left:initial;
  width: 100px
}

.page-pagination{

  position: absolute;
  bottom: 30px;
  right: 50%;
  transform: translateX(-50%)
}